* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

#drop-area {
  padding: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 500px;
  height: 300px;
  background: rgb(255 255 255 / 17%);
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

#img-view {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 2.5px dashed #646464;
  background: #0c0d0dc4;
  background-position: center;
  background-size: cover;
}

#img-view img {
  width: 100px;
  margin: 25px 0px;
  transition: all 1s;
}

#img-view img:hover {
  transform: scale(1.1);
}

#img-view p {
  font-size: 1.2rem;
  color: white;
}

@keyframes slide {
  0%,
  50% {
    transform: translateX(0);
  }
  50.01%,
  100% {
    transform: translateX(-100%);
  }
}

.upload-preview {
  visibility: hidden;
  width: 500px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgba(255, 255, 255, 0.47);
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.upload-preview img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.upload-preview input {
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    background: #fffdfd59;
    color: black;
}

.actions button {
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    transition: all 1s;
}

.actions button:hover{
    transform: scale(1.1);
}

.todo-list {
  overflow-y: scroll;
  width: 500px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
    background: rgba(255, 255, 255, 0.47);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 20px;
}

.todo-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}

.todo-item .description {
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.todo-item .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-item .actions button {
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    transition: all 1s;
}

.todo-item .actions button:hover{
    transform: scale(1.1);
}